* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #1e2d3b;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto; }

.container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body > header {
    padding: 0.5rem 0;
    background-color: #1e2d3b; }
    body > header .logo {
      color: #EDCD1F;
      display: flex;
      align-items: center; }
      body > header .logo p:first-child {
        text-transform: uppercase;
        font-size: 0.5rem; }
      body > header .logo p:last-child {
        font-size: 1.5rem; }
  body > main {
    flex-grow: 1; }

h1 {
  text-transform: uppercase;
  padding: 2rem 1rem;
  font-size: 3.75rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); }

.about, .title {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../files/01/back.jpg); }

.title {
  padding: 7.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  background-blend-mode: overlay; }

h2 {
  font-size: 3.75rem;
  font-weight: 400;
  color: #aaa;
  text-align: center;
  margin-bottom: 1rem; }
  h2 + div {
    display: block;
    height: 0.625rem;
    width: 7.25rem;
    margin: 0 auto;
    background-color: #EDCD1F;
    margin-bottom: 4rem; }

.actions {
  padding: 4rem;
  padding-bottom: 8rem; }
  .actions .cards {
    display: flex;
    justify-content: space-between; }
    .actions .cards a {
      color: #1e2d3b;
      text-decoration: none; }
    .actions .cards article {
      max-width: 16.25rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .actions .cards article > header {
        background-position: center;
        background-size: cover;
        background-color: #eee; }
        .actions .cards article > header div {
          padding-top: 67%; }
      .actions .cards article > main {
        flex-grow: 1;
        background-color: #eee;
        padding: 1rem;
        padding-bottom: 2rem; }
        .actions .cards article > main h3 {
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 1rem;
          color: #3D5975; }

.about > div {
  width: 50%;
  background-color: #eee; }
  .about > div > div {
    margin-left: auto;
    width: 50%;
    padding: 2rem;
    padding-top: 4rem; }
  .about > div p {
    line-height: 1.7;
    padding-bottom: 7.5rem; }

.contacts {
  padding: 2rem;
  padding-top: 4rem; }

form {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  width: 31.25rem;
  margin: 0 auto; }
  form p {
    line-height: 1.7;
    margin-bottom: 2rem; }
  form > div {
    display: flex;
    justify-content: space-between; }
    form > div input {
      width: 15rem; }
  form input {
    width: 100%;
    margin-bottom: 1rem;
    background: none;
    border: 0.0625rem solid #ddd;
    padding: 0.5rem 1rem;
    transition: all .2s ease-in 0s; }
    form input:focus {
      border-color: #bbb; }
    form input[type=submit] {
      cursor: pointer; }
      form input[type=submit]:hover {
        background-color: #ddd; }

/*# sourceMappingURL=site.gen.css.map */
