* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display:flex;
  align-items: center;
  justify-content: center;
  >svg{
    height:100%;
  }
}

.button{
  cursor:pointer;
}
