@function px-rem($pxsize) {
    @return ($pxsize/16)+rem;
}

$title-font: 'Russo One';

@font-face {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/RossoOne.woff2) format('woff2');
}

@font-face {
  font-family: 'Soviet';
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/soviet.ttf) format('truetype');
}

$sans-serif: -apple-system, BlinkMacSystemFont,
             "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
             "Helvetica Neue", sans-serif;


$color-orange:#f06649;
$color-beige:#eadcac;
$color-default:#502d16;
$color-olive:#76773e;
$color-peach:#e9b277;

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family:$sans-serif;
  color:$color-default;
}

.container{
  max-width:px-rem(1024);
  width:100%;
}

$footer-height:px-rem(50);
body{
  min-height: 100vh;
  display:flex;
  align-items: top;
  justify-content: center;
  >main{
    display:flex;
    flex-direction: column;
    padding-bottom:$footer-height;
    >article{
      padding-top: px-rem(32);
      flex-grow: 1;
      display:flex;
      flex-direction: column;
    }
    >svg{
      height:100%;
      .white-back{
        fill:white;
      }
      text{
        &.name{
          font-size:px-rem(24);
        }
      }
    }
  }
  >footer{
    display:flex;
    justify-content: center;
    position: fixed;
    bottom:0;
    height:$footer-height;
    background-color: rgba(0,0,0,.2);
    width:100%;
    >section{
      display:flex;
      align-items: center;
      justify-content: space-between;
      a{
        font-family: $title-font;
        color:$color-default;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}

.soviet{
  font-family: $title-font;
  text-transform: uppercase;
}

.button{
  cursor:pointer;
}

.orange-back{
  background-color: $color-orange;
}

.beige-back{
  background-color: $color-beige;
}

.olive-back{
  background-color: $color-olive;
}

.peach-back{
  background-color: $color-peach;
}

.carousel{
  min-height: px-rem(350);
  >div{
  }
}

h1{
  font-family: $title-font;
  text-transform: uppercase;
  background-color: white;
  margin-bottom: px-rem(32);
  padding: px-rem(8) px-rem(32);
  span{
    color:$color-olive;
  }
}


h2{
  margin-bottom:px-rem(8);
}
p{
  line-height:1.5;
}

.carousel-item{
  background-position: center;
  background-size: cover;
  background-color: gray;
  width:px-rem(350);
  margin:0 px-rem(4);
  transition: all .4s ease-in 0s;
  >div{
    padding-top:100%;
    position:relative;
    span{
      position:absolute;
      left:px-rem(16);
      bottom:px-rem(16);
      background-color: white;
      border-radius: 50%;
      height:px-rem(24);
      width:px-rem(24);
      display:flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.slick-slide{
  display:flex !important;
  justify-content: center;
}


.music{
  height:30vh;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  >div{
    padding:0 px-rem(8);
    height:15vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    audio{
      margin-bottom: px-rem(16);
    }
  }
}

$border: px-rem(4) solid $color-default;
button[type=button]{
  cursor: pointer;
  position: absolute;
  background:none;
  border:none;
  border-top: $border;
  height:px-rem(25);
  width:px-rem(25);
  top:px-rem(150);
  &.carousel-prev{
    border-left: $border;
    left:-(px-rem(30));
    transform: rotate(-45deg);
  }
  &.carousel-next{
    border-right: $border;
    right:-(px-rem(30));
    transform: rotate(45deg);
  }
}

.images-inline{
  flex-grow: 1;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.text{
  margin-bottom:px-rem(32);
  display:flex;
  >div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &:nth-child(2){
      align-items: center;
      flex-grow: 1;
    }
  }
}

.hidden-object{
  .playfield{
    background-position: center;
    background-size: cover;
    >div{
      padding-top:67%;
      position: relative;
      >img{
        position:absolute;
        &.fullframe{
          top:0;
          left:0;
          width:100%;
        }
        &.belka{
          top:0;
          right:px-rem(150);
          width:px-rem(150);
        }
        &.burger_king{
          top:px-rem(470);
          left:px-rem(420);
          width:px-rem(60);
        }
        &.nout{
          top:px-rem(370);
          left:px-rem(180);
          width:px-rem(270);
        }
        &.phone{
          top:px-rem(445);
          left:px-rem(500);
          width:px-rem(130);
        }
        &.ochki{
          top:px-rem(430);
          left:px-rem(690);
          width:px-rem(70);
        }
        &.krem{
          bottom:px-rem(20);
          right:px-rem(90);
          width:px-rem(90);
        }
      }
    }
  }
}

.hidden-text{
  div{
    img{
      display:block;
      width:100%;
    }
    &:nth-child(2){
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}

a.show_answer{
  padding:px-rem(4) px-rem(8);
  background-color: white;
  cursor: pointer;
}
h2.show_answer,p.show_answer{
  display:none;
}

.afisha-hidden{
  display:none;
}

.shostakovich-image{
  img{
    width:100%;
  }
  margin-bottom: px-rem(32);
}

.shostakovich-audio{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height:px-rem(200);
  >div{
    margin-bottom: px-rem(16)
  }
}

.bonus-1{
  margin-bottom:px-rem(32);
  >div{
    height:px-rem(150);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    >p{
      display: flex;
      margin-top: px-rem(8);
      span{
        display:block;
        width:px-rem(90);
      }
    }
  }
}

.bonus-1-cards{
  display:flex;
  .row{
    display: flex;
    margin-bottom:px-rem(16);
  }
  .card{
    margin-right:px-rem(8);
    div{
      border:px-rem(2) solid white;
      width:px-rem(50);
      height:px-rem(30);
      display:flex;
      justify-content: center;
      align-items: center;
      &:first-child{
        background-color: white;
      }
      &:last-child{
        color:$color-beige;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        text-transform: uppercase;
      }
    }
  }
}

.skulpts{
  display:flex;
  >div{
    padding: 0 px-rem(16);
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      margin-bottom:px-rem(32);
      height:px-rem(400);
    }
  }
}

.lastnames{
  img{
    width:100%;
  }
  div:first-child{
    margin-bottom:px-rem(32);
  }
  div:last-child{
    display:flex;
    justify-content: center;
    img{
      width:70%;
      margin-right: px-rem(32);
    }
    a{
      align-self: flex-end;
    }
  }
}

.words{
  h2{
    font-family: $title-font;
    margin-bottom: px-rem(16);
    font-size:px-rem(18);
  }
  p{
    margin-bottom: px-rem(64);
    padding: px-rem(16);
    font-size:px-rem(24);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    color:white;
  }

}
